parameters:
    FiQuery.class: Fi\OracleBundle\DependencyInjection\FiQuery
    #arguments: [%connessione%]

    #    fi_oracle.example.class: Fi\OracleBundle\Example

services:
#    fi_oracle.example:
#        class: %fi_oracle.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]

    oracle_manager:
        class:     "%FiQuery.class%"
        #arguments: [@service_id, "plain_value", %parameter%]
        arguments: [ "%connessione_oracle%" ]