<!DOCTYPE html>
<html>
    <head>
        <title>Query Result</title>
    </head>
    <body>
        <table>
            <th>DATA DEMO</th>
            <th>STATO DEMO</th>
                {% for elemento in risultato %}
                <tr>
                    <td>{{ elemento["DATADEMO"] }}</td>
                    <td>{{ elemento["STATO"] }}</td>
                </tr>
            {% endfor %}
        </table>

    </body>
</html>